{% extends "todo_app/base.html"%}

{% block title %}
About Page
{% endblock title %}

{% block content %}
<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4"><center>TO DO LIST</center></h1>
        <hr>
        <p><center> This is To-Do list for Python Django Web Development </center></p>
        <p><center> You can use this To-Do list for your Django projects </center></p>
        <p><center> Just follow the List </center></p>
        <p><center> You can update anything </center></p>
        <div class="text-center">
            <button type="button" class="btn btn-outline-success">Create To-Do List</button>

        </div>
    </div>
</div>

{% endblock content %}